@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

/* Styles pour les boutons switch */
.toggle-checkbox:checked {
    right: 0;
    border-color: #68D391; /* Vert, ajustez selon vos préférences */
}
.toggle-checkbox:checked + .toggle-label {
    background-color: #68D391; /* Vert, ajustez selon vos préférences */
}
.toggle-checkbox {
    left: 0;
}

.toggle-label {
    background-color: #a0aec0; /* Gris, ajustez selon vos préférences */
    transition: background-color 0.2s;
}

.checkbox:checked {
    right: 0;
    border-color: #A855F7;
}

.checkbox:checked + .toggle-label {
    /* Apply class bg-indigo-700 */
    background-color:#A855F7;
}
/*Mise forme de l'article de blog*/
#description p {
    color: #4C1D95;
    font-size: 16px;
    padding-bottom: 8px;
}

#post-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 16px;
    width: 100%
}
#post-content h2 {
    color: #A855F7;
    font-size: 26px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 95%;
}
#post-content a {
    color: #C94013;
    font-size: 18px;
    text-decoration: underline;
}
#post-content a:hover {
    color: #A855F7;
    font-size: 18px;
    text-decoration: underline;
}

#post-content p {
    color: #4C1D95;
    font-size: 18px;
    padding-bottom: 8px;
    text-align: justify;
}
.social-share-buttons a {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    display: inline-block;
    text-decoration: none;
    color: #555;
}

.add-like {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    display: inline-block;
    text-decoration: none;
    color: #555;
}

